// =============================================================
// //                      Common Css
// //      =============================================================
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

$primery : #9AAEA3;
$secondary : #A6CD96;

@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

@mixin transform-scale($value) {
    transform: scale($value);
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -o-transform: scale($value);
}

@mixin transform-rotate($value) {
    transform: rotate($value);
    -webkit-transform: rotate($value);
    -moz-transform: rotate($value);
    -ms-transform: rotate($value);
    -o-transform: rotate($value);
}

@mixin border-radious($value) {
    border-radius: $value ;
    -webkit-border-radius: $value ;
    -moz-border-radius: $value ;
    -ms-border-radius: $value ;
    -o-border-radius: $value ;
}

@mixin translatey($value) {
    transform: translateY($value);
    -webkit-transform: translateY($value);
    -moz-transform: translateY($value);
    -ms-transform: translateY($value);
    -o-transform: translateY($value);
}

.bac-primary{
 background-color: $primery;
 color: $primery;
}
.bac-secondary{
 background-color: $secondary ;
 color: $secondary ;
}
@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

.leanergredian_bac{
  background: linear-gradient(to right,#5254944e,#f7524661);
 
}


.light{
   
 li{
    a{
      padding: 1px 20px;
      
      color: #ffffff !important;  
    }
 } 
 li{
    .active{
      background: none !important;
      color: #F87171 !important;
      border-radius: 2px ;
      font-weight: bold;
      -webkit-border-radius: 2px ;
      -moz-border-radius: 2px ;
      -ms-border-radius: 2px ;
      -o-border-radius: 2px ;
      
}
 }
}

.dark{
  li{
     a{
       background: none !important; 
       color: #ffffff !important;  
     }
  } li{
     .active{
       background: none !important; 
       color: #F87171 !important;  
     }
  }
 }

.sidebar{
  a{display: block;
   padding: 10px 13px;
    margin: 0 auto;
  }
 .active{
    
    background: white  !important;

    margin: 0 auto;
    @include border-radious(100px);
    display: block;
    color: #1a1713 !important;   
  }
}

.mood{
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

.font-Nunito{
  font-family: 'Nunito', sans-serif;
}

.clipshape2 {
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 51%);
}
.clipshape3 {
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%, 0 0);
}
.clipshape {
  opacity: .7;               
 clip-path: polygon(100% 0%, 100% 100%, 0 100%, 70% 64%);
}
.activepage{
  background-color: #15803D;
  color: white;
}

.clipshape5{
  opacity: .7; 
  clip-path: polygon(0% 0%, 0% 100%, 11% 100%, 5% 11%, 95% 16%, 90% 86%, 9% 88%, 11% 100%, 100% 100%, 100% 0%);
}

.clipshaper{
  clip-path: polygon(0 0, 100% 0, 77% 100%, 0 100%);
}.clipshapel{
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}
@media screen and (max-width:500px) and (min-width:200px) {
  .clipshaper{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }.clipshapel{
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0000003e;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #CDE3FE;
  border-radius: 6px;
}

.newslleter{
  background: #636e72;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center ;
   background-attachment: fixed;
}

@media screen and (max-width:1260px) and (min-width:200px) {
  .sidebar{
    a{display: block;
     padding: 10px 13px;
      margin: 0 auto;
      .manu_item{
        @include transition(0.3s);
        position: absolute; 
        margin-left: 100px;
        margin-top: -30px;
        background: #F87171;
        color: white;
        opacity: 0;
        font-size: 15px;
        padding: 5px 10px;
        padding-left: 20px;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0% 50%);
      }
     
    }    
     a:hover{
      .manu_item{
        margin-left: 40px;
        opacity: 1;
      }
    } 
  }
}

.drawer-side{

  a{
    background: transparent !important;
    margin: 5px 0px ;
  }  
  li{
    .active{
       background: #00000000 !important;
    }
  }
}