@import './App.scss';

.comment{
    ul{ 
        li{ 
            
           .come{
            align-items: center;
            justify-content: space-between;
            display: flex;
            .Replay{
               @include transition(.5s);
                color: #002347;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 800;
           
                padding: 5px 10px;
            }
            .Replay:hover{
                color: #ffffff;
                background-color:#002347;
                text-transform: uppercase;
               
            } 
           }
            
        }
    }
   
}