@import "App";

.pagebanner{

    background-size: cover !important;
    background-position: center  !important; 
    .pagebanneroverly{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #00000083;              
    }              
}